<form name="login" @submit.prevent="forgotPass">
    <div v-if="!success">
        <h5>Olvide mi contraseña</h5>
        <p>Escribe la direccion de correo electronico con la que te registraste y en breve te enviaremos un correo con las instrucciones para recuperar tu cuenta</p>

        <div class="field">
            <input type="email" id="email" v-model.trim="$v.user.email.$model" title="Email"
                   :class="{'active': emailHasContent, 'error': $v.user.email.$dirty && $v.user.email.$invalid}" :state="$v.user.email">
            <label :class="{'active': emailHasContent, 'error': $v.user.email.$dirty && $v.user.email.$invalid}" for="email">Correo electronico</label>
            <div class="error">
                <p v-if="$v.user.email.$dirty && !$v.user.email.required">Este campo es requerido</p>
                <p v-else-if="$v.user.email.$dirty && !$v.user.email.email">Debe ser un formato de correo válido</p>
            </div>
        </div>

        <router-link to="/security/login">Iniciar sesión</router-link>
        <button type="submit" :disabled="$v.user.$invalid">Recuperar cuenta</button>
    </div>

    <div v-else>
        <h5>Correo de recuperación enviado</h5>
        <p>Hemos envíado un correo a <span>{{user.email}}</span> con las instrucciones para recuperes tu cuenta, no olvides revisar tu carpeta de spam.</p>
    </div>
</form>
