@import "../../../assets/css/input.css";
.sessions, .update-password, .delete-account {
    background: #FFFFFF;
    padding: 16px;
    box-shadow: 0 0 18px 0 rgba(0,0,0,.1);
    border-radius: 4px;
}
.sessions {
    width: calc(100% - 32px);
    min-height: 225px;
}
.list {
    margin: 24px 0 0 0;
}
.update-password {
    width: fit-content;
    min-width: 244px;
    margin: 24px 0 0 0;
}
.delete-account {
    margin: 24px 0 0 24px;
}
.update-password .container {
    margin: 24px 0 0 0;
    width: 100%;
}

.flex-column {
    display: flex;
    align-items: stretch;
}

.delete-account form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 32px 0 0 auto;
}

.delete-account form button {
    width: fit-content;
    margin: 0 0 0 16px;
    background: var(--error-color);
    font-size: 14px;
    line-height: 24px;
}

.delete-account form input {
    min-width: 248px;
}

.delete-account .field {
    margin: 0;
}

h2 {
    margin: 0;
    font-size: 24px;
    color: var(--primary-color);
    line-height: 45px;
    border-bottom: solid 1px var(--divider-color);
}
ul {
    width: calc(100% - 32px);
    display: flex;
    padding: 8px 0;
    margin: 0;
    border-radius: 2px;
    color: var(--secondary-text);
}
ul.headers {
    color: var(--primary-text);
    font-size: 18px;
}
ul.even {
    background: var(--ultra-light-primary-color);
}
ul li {
    list-style: none;
    padding: 0 0 0 16px;
    margin: 0;
    text-align: center;
}
ul li.no {
    width: 32px;
}
ul li.device,
ul li.location,
ul li.date {
    width: 140px;
}

ul li.options svg {
    cursor: pointer;
    transition: all .3s ease;
}
ul li.options svg:hover {
    color: var(--error-color);
}

p.empty {
    border: solid 1px var(--accent-color);
    border-radius: 2px;
    padding: 16px 8px;
    width: calc(100% - 10px);
    background: var(--ultra-light-accent-color);
}

@media screen and (max-width: 950px) {
    ul li.no {
        display: none;
    }

    ul li {
        text-align: left;
    }
}

@media screen and (max-width: 700px) {
    .flex-column {
        display: block;
    }

    .update-password, .delete-account {
        width: calc(100% - 32px);
        margin: 24px 0 0 0;
    }
}

@media screen and (max-width: 650px) {
    ul li.location {
        display: none;
    }
}

@media screen and (max-width: 440px) {
    .delete-account form {
        display: block;
    }

    .delete-account form button {
        margin: 24px 0 0 auto;
    }
}
