<div class="account">
    <div class="sessions">
        <h2>Sesiones activas</h2>
        <div class="list" v-if="sessions && sessions.length > 0">
            <ul class="headers">
                <li class="no">No.</li>
                <li class="device">Dispositivo</li>
                <li class="location">Ubicación</li>
                <li class="date">Fecha</li>
                <li class="options">Opciones</li>
            </ul>
            <ul v-for="(session, index) in sessions" track-by="index" :class="{'even': isEven(index+1)}">
                <li class="no">{{ index+1 }}</li>
                <li class="device">{{ `${session.device}` }}</li>
                <li class="location">
                    <a v-if="session.latitude && session.longitude" :href="`http://maps.google.com/maps?q=${session.latitude},${session.longitude}`" target="_blank">Ver ubicación</a>
                    <span v-else>Desconocida</span>
                </li>
                <li class="date">{{ session.createdAt | date('DD-MM-YYYY') }}</li>
                <li class="options" @click="openModal(session)">
                    <font-awesome-icon icon="trash-alt"></font-awesome-icon>
                </li>
            </ul>
        </div>
        <p v-else class="empty">
            Sin sesiones que mostrar
        </p>
    </div>

    <div class="flex-column">
        <div class="update-password">
            <h2>Actualizar contraseña</h2>
            <div class="container">
                <resetForm :noToken="true"></resetForm>
            </div>
        </div>
        <div class="delete-account">
            <h2>Eliminar cuenta</h2>
            <p>Al eliminar tu cuenta se borrarán todos los datos que ingresaste en la plataforma, por favor piensalo muy bien ya que este proceso es definitivo y completamente irreversible, no nos hacemos responsables por la perdida de información y no guardaremos ninguna copia o respaldo de tu información.</p>
            <form name="delete" @submit.prevent="deleteMe">
                <div class="field">
                    <input type="password" id="d_password" v-model.trim="$v.account.password.$model" title="Password"
                           :class="{'active': $v.account.password.$model, 'error': $v.account.password.$dirty && $v.account.password.$invalid}"
                           :state="$v.account.password">
                    <label :class="{'active': $v.account.password.$model, 'error': $v.account.password.$dirty && $v.account.password.$invalid}"
                           for="d_password">Contraseña</label>
                    <div class="error">
                        <p v-if="$v.account.password.$dirty && !$v.account.password.required">Este campo es requerido</p>
                        <p v-else-if="$v.account.password.$dirty && !$v.account.password.minLength">
                            Debe tener al menos {{$v.account.password.$params.minLength.min}} caracteres
                        </p>
                    </div>
                </div>

                <button type="submit" :disabled="$v.account.$invalid">Eliminar cuenta</button>
            </form>
        </div>
    </div>

    <app-modal :data="confirm" v-on:cancel="closeModal()" v-on:confirm="closeSession(confirm)"></app-modal>
</div>
