.bg-modal
    position fixed
    width 100%
    height 100vh
    top 0
    left 0
    background rgba(0,0,0,.75)

    .modal
        background var(--text-icons)
        width calc(100% - 32px)
        max-width 418px
        margin 150px auto 0 auto
        border-radius 2px
        padding 16px

        h5
            color var(--dark-primary-color)
            margin 0

        p
            color var(--secondary-text)
            margin 32px 0 0 0

        .buttons
            display flex
            justify-content space-between
            margin 32px 0 0 0

        button
            width 125px
            line-height 32px
            border none
            border-radius 2px
            color var(--text-icons)
            cursor pointer

        .cancel
            background var(--accent-color)

        .confirm
            background var(--dark-primary-color)
