<div class="bg-modal" v-if="data">
    <div class="modal">
        <h5>Cerrar sesión</h5>
        <p>¿Estás seguro de que deseas cerrar la sesión?</p>
        <ul>
            <li>{{data.device}}</li>
            <li>{{data.createdAt | date('DD-MM-YYYY hh:mm a')}}</li>
        </ul>
        <div class="buttons">
            <button class="cancel" @click="cancel()">Cancelar</button>
            <button class="confirm" @click="confirm()">Aceptar</button>
        </div>
    </div>
</div>
