@import "../../../assets/css/hamburger.css";
header {
    background: transparent;
    padding: 16px 0;
}
.fill {
    background: var(--dark-primary-color);
}
header .inner {
    max-width: 1400px;
    width: calc(100% - 32px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
header .inner h6 {
    color: var(--light-primary-color);
    cursor: default;
    margin: 0 0 0 16px;
    display: inline-block;
    vertical-align: middle;
}
header .inner div {
    display: flex;
}
header .inner .logo svg {
    width: 35px;
    display: inline-block;
    vertical-align: middle;

}
header .inner svg .logo {
    fill: var(--light-primary-color);
}
header .inner .logo:hover svg .logo, header .inner .logo:hover h6 {
    color: #FFF;
    fill: #fff;
}
header .inner svg:hover .border span {
    display: inline-block;
    margin: 0 0 0 16px;
    font-size: 18px;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header .inner a {
    color: var(--light-primary-color);
    text-decoration: none;
}
header .inner a:hover,
header .inner a:hover svg {
    color: var(--text-icons);
}
header .inner ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
header .inner ul li {
    list-style: none;
}
header .inner ul li a {
    color: var(--light-primary-color);
    text-decoration: none;
}
header .inner ul li a:hover {
    color: var(--text-icons);
}
.user-session {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.user-session p {
    text-transform: capitalize;
    margin: 0;
    color: var(--light-primary-color);
    font-size: 18px;
}
.user-session svg {
    width: 21px;
    height: 24px;
    color: var(--light-primary-color);
    margin: 0 0 0 10px;
}

@media screen and (max-width: 768px) {
    header.fixed {
        position: fixed;
        width: 100%;
        z-index: 10;
        top: 0;
    }

    header .inner h6 {
        margin: 0;
    }
}

@media screen and (max-width: 425px) {
    .user-session p {
        display: none;
    }
}
