:root {
    --dark-primary-color: #512DA8;
    --light-primary-color: #D1C4E9;
    --ultra-light-primary-color: #e4e0ed;
    --primary-color: #673AB7;
    --text-icons: #FFFFFF;
    --accent-color: #448AFF;
    --light-accent-color: #a0c3ff;
    --ultra-light-accent-color: #BBDEFB;
    --primary-text: #212121;
    --secondary-text: #757575;
    --divider-color: #BDBDBD;
    --background-color: #F3F3F3;
    --error-color: #c62828;
}

@font-face {
    font-family: "Roboto Light";
    src: url("../fonts/roboto-light.ttf");
    font-display: auto;
}

@font-face {
    font-family: "Roboto Regular";
    src: url("../fonts/roboto-regular.ttf");
    font-display: auto;
}

@font-face {
    font-family: "Roboto Medium";
    src: url("../fonts/roboto-medium.ttf");
    font-display: auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1, h2 {
    font-family: "Roboto Light", serif;
}

h1 {
    letter-spacing: 0;
    font-size: 64px;
}

h2 {
    letter-spacing: 0;
    font-size: 56px;
}

h3, h4, h5 {
    font-family: "Roboto Regular", serif;
}

h3 {
    letter-spacing: 0;
    font-size: 48px;
}

h4 {
    letter-spacing: 0;
    font-size: 36px;
}

h5 {
    letter-spacing: 0;
    font-size: 28px;
}

h6 {
    font-family: "Roboto Medium", serif;
    font-size: 20px;
    letter-spacing: 0;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Regular", serif;
    font-size: 16px;
    background: #F3F3F3;
}

button, a, form {
    display: block;
}

button {
    font-family: "Roboto Medium", serif;
    font-size: 14px;
}

input, button {
    outline: none;
}

footer {
    color: var(--secondary-text);
    padding: 16px;
}

footer .inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer.first {
    background: var(--light-primary-color);
}

footer.first .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

footer.first .social {
    display: flex;
}

footer.first .social li {
    width: 45px;
    line-height: 45px;
    text-align: center;
    background: #FFFFFF;
    margin: 0 0 0 16px;
    color: var(--light-primary-color);
    border-radius: 4px;
    box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.05);
    transition: all .3s ease;
}

footer.first .social li:hover {
    color: var(--primary-color);
}

footer.first .social li i {
    margin: 0;
}

footer a {
    color: var(--secondary-text);
    text-decoration: none;
    margin: 0 200px 0 0;
}

footer svg {
    width: 35px;
    vertical-align: bottom;
}

footer ul {
    padding: 0;
}

footer ul li {
    list-style: none;
    line-height: 30px;
    font-size: 18px;
}

footer ul li i {
    margin: 0 12px 0 0;
}

footer ul li a {
    display: inline-block;
    color: var(--primary-color);
}

@media screen and (max-width: 375px) {
    footer .inner {
        display: block;
    }

    footer h6, footer p {
        text-align: center;
    }
}
