form a {
    display: inline-block;
    color: var(--accent-color);
    font-size: 14px;
}

button {
    background: var(--accent-color);
    border: none;
    color: #FFFFFF;
    margin: 24px 0 0 0;
    width: calc(100% - 2px);
    line-height: 30px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

p {
    color: var(--secondary-text);
}

button:disabled {
    cursor: default;
    opacity: .5;
}

form h5 {
    color: var(--accent-color);
    margin: 0 0 16px 0;
}

@media screen and (max-width: 430px) {
    form h2 {
        text-align: center;
    }
}
