/* INPUT FIELDS */
.field {
    position: relative;
    margin: 0 0 16px 0;
}

input {
    line-height: 24px;
    border: solid 1px #A4A4A4;
    width: calc(100% - 2px);
    text-indent: 8px;
    border-radius: 4px;
}

label {
    position: absolute;
    top: 4px;
    left: 4px;
    background: #FFFFFF;
    padding: 0 4px;
    transition: all .1s ease;
    color: #A4A4A4;
    font-size: 14px;
    cursor: pointer;
}


input:focus, input.active {
    border: solid 1px var(--dark-primary-color);
}

input:focus ~ label, label.active {
    font-size: 12px;
    top: -10px;
    color: var(--dark-primary-color);
}

input.error {
    border: solid 1px var(--error-color);
}

label.error {
    color: var(--error-color) !important;
}

.error {
    min-height: 18px;
}

.error p {
    margin: 0;
    font-size: 12px;
    width: 250px;
    color: var(--error-color);
}
