.info {
    background: #ffffff;
    width: fit-content;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 0 18px 0 rgba(0,0,0,.1);
}

.info svg {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: block;
    color: var(--light-primary-color);
}

.info h5 {
    margin: 24px 0 0 0;
    text-transform: capitalize;
    color: var(--primary-text);
    text-align: center;
}

p {
    margin: 8px 0 0 0;
    text-align: center;
}
