<div class="profile">
    <div class="info">
        <img v-if="this.profile.image" :src="this.profile.image" alt="profile_image">
        <font-awesome-icon v-if="!this.profile.image" icon="user-alt"></font-awesome-icon>
        <div>
            <h5>{{this.profile.name}}</h5>
            <p>{{this.profile.email}}</p>
        </div>
    </div>
</div>
