<form name="login" @submit.prevent="submit" autocomplete="off">
    <h5>Iniciar sesión</h5>

    <div class="field">
        <input type="email" id="username" v-model.trim="$v.user.username.$model" title="Email"
               :class="{'active': emailHasContent, 'error': $v.user.username.$dirty && $v.user.username.$invalid}"
               :state="$v.user.username">
        <label :class="{'active': emailHasContent, 'error': $v.user.username.$dirty && $v.user.username.$invalid}"
               for="username">Correo electronico</label>
        <div class="error">
            <p v-if="$v.user.username.$dirty && !$v.user.username.required">Este campo es requerido</p>
            <p v-else-if="$v.user.username.$dirty && !$v.user.username.email">Debe ser un formato de correo válido</p>
        </div>
    </div>


    <div class="field">
        <input type="password" id="password" v-model.trim="$v.user.password.$model" title="Password"
               :class="{'active': passHasContent, 'error': $v.user.password.$dirty && $v.user.password.$invalid}"
               :state="$v.user.password">
        <label :class="{'active': passHasContent, 'error': $v.user.password.$dirty && $v.user.password.$invalid}"
               for="password">Contraseña</label>
        <div class="error">
            <p v-if="$v.user.password.$dirty && !$v.user.password.required">Este campo es requerido</p>
            <p v-else-if="$v.user.password.$dirty && !$v.user.password.minLength">
                Debe tener al menos {{$v.user.password.$params.minLength.min}} caracteres
            </p>
        </div>
    </div>

    <router-link to="/security/register">Registrarme</router-link> |
    <router-link to="/security/password/forgot">Olvidé mi contraseña</router-link>

    <button type="submit" :disabled="$v.user.$invalid">Iniciar sesión</button>
</form>
