.main-container {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 32px);
    max-width: 1400px;
    margin: 0 auto;
    padding: 24px 0;
    position: relative;
}
.user-container {
    max-width: calc(1400px - 64px);
    width: 100%;
    min-height: calc(100vh - 248px);
    margin: 0 0 0 16px;
}
aside {
    background: var(--text-icons);
    border-radius: 4px;
    min-height: calc(100vh - 196px);
    box-shadow: 0 0 18px 0 rgba(0,0,0,0.1);
}
aside ul {
    width: calc(100% - 8px);
    margin: 0 auto;
    padding: 24px 0 0 0;
}
aside span {
    display: block;
    padding: 0;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
}
aside span.hide {
    display: none;
}
aside li {
    list-style: none;
}
aside li a {
    display: flex;
    padding: 10px 16px;
    cursor: pointer;
    border-radius: 2px;
    color: var(--secondary-text);
}
aside li:hover a,
aside li:hover span,
aside .router-link-active,
aside .router-link-active span {
    color: #fff;
    background: var(--light-primary-color);
}
aside li a {
    text-decoration: none;
    color: var(--secondary-text);
}
aside svg {
    margin: 0 8px 0 0;
    padding: 2px;
}
aside .toggle-enter-active,
aside .toggle-leave-active {
    transition: all 0.2s ease-in-out;
}
aside .toggle-enter,
aside .toggle-leave-to {
    width: 0;
}
@media screen and (max-width: 768px) {
    .user-container {
        min-height: calc(100vh - 197px);
    }

    aside {
        position: fixed;
        transform: translate(-100px, 0);
        z-index: 10;
        top: 56px;
        height: 100vh;
        transition: transform 0.2s ease-in-out;
    }
    aside.active {
        transform: translate(-16px, 0);
    }
    .user-container {
        margin: 66px 0 0 0;
    }
}

@media screen and (max-width: 375px) {
    .user-container {
        min-height: calc(100vh - 222px);
    }
}
