<div>
    <app-header></app-header>
    <div class="main-container">
        <aside :class="{'active': this.menu}">
            <ul>
                <li><router-link to="/user/dashboard" exact active="active">
                    <font-awesome-icon icon="home"></font-awesome-icon>
                    <transition name="toggle">
                        <span v-if="this.menu">Inicio</span>
                    </transition>
                </router-link></li>
                <li v-if="this.profile && this.profile.role === 'ROLE_ADMIN'"><router-link to="/admin/users" exact active="active">
                    <font-awesome-icon icon="users"></font-awesome-icon>
                    <transition name="toggle">
                        <span v-if="this.menu">Usuarios</span>
                    </transition>
                </router-link></li>
                <li><router-link to="/user/profile" exact>
                    <font-awesome-icon icon="user-circle"></font-awesome-icon>
                    <transition name="toggle">
                        <span v-if="this.menu">Perfil</span>
                    </transition>
                </router-link></li>
                <li><router-link to="/user/account" exact>
                    <font-awesome-icon icon="address-card"></font-awesome-icon>
                    <transition name="toggle">
                        <span v-if="this.menu">Cuenta</span>
                    </transition>
                </router-link></li>
                <li><a @click="signOut">
                    <font-awesome-icon icon="sign-out-alt"></font-awesome-icon>
                    <transition name="toggle">
                        <span v-if="this.menu">Cerrar sesión</span>
                    </transition>
                </a></li>
            </ul>
        </aside>
        <router-view class="user-container"/>
    </div>
</div>
