<div style="width: 100%; background: #F9F9F9; padding: 50px 0; overflow: hidden">
    <div style="width: 100%; max-width: 600px; margin: 0 auto; background: #FFFFFF; border-radius: 10px; padding: 0 0 40px 0; box-shadow: 2px 2px 5px rgba(0,0,0,.3);">
        <div style="background: #512DA8; padding: 32px; border-bottom: 32px solid #D1C4E9;">
            <h1 style="color: #FFFFFF">
                NEW LOGIN
            </h1>
        </div>
        <h2 style="color: #212121; padding: 0 32px;">Hello <span style="text-transform: capitalize">{{name}}!</span></h2>
        <p style="margin: 0 auto 45px auto;color: #757575; font-size: 18px;padding: 0 32px;">Here is your verification code</p>
        <h3 style="font-size: 18px; color: #448AFF; text-align: center; font-weight: 600;">{{code}}</h3>
    </div>
</div>
