<div style="width: 100%; background: #F9F9F9; padding: 50px 0; overflow: hidden">
    <div style="width: 100%; max-width: 600px; margin: 0 auto; background: #FFFFFF; border-radius: 10px; padding: 0 0 40px 0; box-shadow: 2px 2px 5px rgba(0,0,0,.3);">
        <div style="background: #512DA8; padding: 32px; border-bottom: 32px solid #D1C4E9;">
            <h1 style="color: #FFFFFF">
                CONTACT
            </h1>
        </div>
        <h2 style="color: #212121; padding: 0 32px;">Contact e-mail</h2>
        <ul style="padding: 0; margin: 14px 0 0 0">
            <li style="list-style: none"><span style="font-weight: bold">Name:</span> {{name}}</li>
            <li style="list-style: none"><span style="font-weight: bold">E-mail:</span> {{email}}</li>
            <li style="list-style: none"><span style="font-weight: bold">Phone:</span> {{phone}}</li>
        </ul>

        <p style="margin: 2em 0 0 0; color: #212121; width: 60%;">
            <span style="font-weight: bold">Message: <br></span>
            {{message}}
        </p>
    </div>
</div>
