<template src="./template.html"></template>
<script src="./controller.js"></script>
<style lang="stylus" scoped>
    @import '../../../assets/css/input.css'
    @import '../../../assets/css/form.css'
</style>
