<form name="register" @submit.prevent="submit">
    <div v-if="!submitted">
        <h5>Registro</h5>

        <div class="field">
            <input type="text" id="name" v-model.trim="$v.user.name.$model" title="Name" :state="$v.user.name"
                   :class="{'active': nameHasContent, 'error': $v.user.name.$dirty && $v.user.name.$invalid}">
            <label :class="{'active': nameHasContent, 'error': $v.user.name.$dirty && $v.user.name.$invalid}" for="name">
                Nombre completo
            </label>
            <div class="error">
                <p v-if="$v.user.name.$dirty && !$v.user.name.required">Este campo es requerido</p>
                <p v-else-if="$v.user.name.$dirty && !$v.user.name.minLength">
                    Debe tener al menos {{$v.user.name.$params.minLength.min}} caracteres
                </p>
            </div>
        </div>

        <div class="field">
            <input type="email" id="email" v-model.trim="$v.user.email.$model" title="Email" :state="$v.user.email"
                   :class="{'active': emailHasContent, 'error': $v.user.email.$dirty && $v.user.email.$invalid}">
            <label :class="{'active': emailHasContent, 'error': $v.user.email.$dirty && $v.user.email.$invalid}" for="email">
                Correo electronico
            </label>
            <div class="error">
                <p v-if="$v.user.email.$dirty && !$v.user.email.required">Este campo es requerido</p>
                <p v-else-if="$v.user.email.$dirty && !$v.user.email.email">Debe ser un formato de correo válido</p>
            </div>
        </div>


        <div class="field">
            <input type="password" id="password" v-model.trim="$v.user.password.$model" title="Password" :state="$v.user.password"
                   :class="{'active': passHasContent, 'error': $v.user.password.$dirty && $v.user.password.$invalid}">
            <label :class="{'active': passHasContent, 'error': $v.user.password.$dirty && $v.user.password.$invalid}" for="password">
                Contraseña
            </label>
            <div class="error">
                <p v-if="$v.user.password.$dirty && !$v.user.password.required">Este campo es requerido</p>
                <p v-else-if="$v.user.password.$dirty && !$v.user.password.hasLetters">Debe tener al menos una letra</p>
                <p v-else-if="$v.user.password.$dirty && !$v.user.password.hasNumbers">Debe tener al menos un número</p>
                <p v-else-if="$v.user.password.$dirty && !$v.user.password.hasSpecialChar">Debe tener al menos un simbolo</p>
                <p v-else-if="$v.user.password.$dirty && !$v.user.password.minLength">
                    Debe tener al menos {{$v.user.password.$params.minLength.min}} caracteres
                </p>
            </div>
        </div>


        <router-link to="/security/login">Iniciar sesión</router-link>
        <button type="submit" :disabled="$v.user.$invalid">Registrarme</button>
    </div>

    <div v-else>
        <h5>Registro completado</h5>
        <p>Hemos envíado un correo a <span>{{user.email}}</span> con las instrucciones para que actives tu cuenta, no olvides revisar tu carpeta de spam. <br>
            <a href="#">No he recibido ningún correo</a>
        </p>
    </div>

</form>
