p
  color var(--secondary-text)

h2
  color var(--accent-color)

a
  display inline-block
  color var(--accent-color)
  font-size 14px

@media screen and (max-width: 430px) {
  h2 {
    text-align center
  }
}
