<div>
    <h5>Activar cuenta</h5>
    <p v-if="success === false">El código que usaste es incorrecto, es posible que ya haya sido utilizado o no sea válido para esta acción</p>
    <p v-else-if="success === true">Tu cuenta ha sido activada exitosamente, a partir de este momento puedes iniciar sesión.</p>
    <router-link to="/security/login">Iniciar sesión</router-link>
</div>
