<form name="register" @submit.prevent="submit">
    <div v-if="!noToken">
        <h5>Restablecer contraseña</h5>
        <div v-if="valid && !submitted">
            <div class="field">
                <input type="password" id="password" v-model.trim="$v.user.password.$model" title="Password" :state="$v.user.password"
                       :class="{'active': $v.user.password.$model, 'error': $v.user.password.$dirty && $v.user.password.$invalid}">
                <label :class="{'active': $v.user.password.$model, 'error': $v.user.password.$dirty && $v.user.password.$invalid}" for="password">
                    Nueva contraseña
                </label>
                <div class="error">
                    <p v-if="$v.user.password.$dirty && !$v.user.password.required">Este campo es requerido</p>
                    <p v-else-if="$v.user.password.$dirty && !$v.user.password.hasLetters">Debe tener al menos una letra</p>
                    <p v-else-if="$v.user.password.$dirty && !$v.user.password.hasNumbers">Debe tener al menos un número</p>
                    <p v-else-if="$v.user.password.$dirty && !$v.user.password.hasSpecialChar">Debe tener al menos un simbolo</p>
                    <p v-else-if="$v.user.password.$dirty && !$v.user.password.minLength">
                        Debe tener al menos {{$v.user.password.$params.minLength.min}} caracteres
                    </p>
                </div>
            </div>

            <div class="field">
                <input type="password" id="password2" v-model.trim="$v.user.password2.$model" title="Confirm password" :state="$v.user.password2"
                       :class="{'active': $v.user.password2.$model, 'error': $v.user.password2.$dirty && $v.user.password2.$invalid}">
                <label :class="{'active': $v.user.password2.$model, 'error': $v.user.password2.$dirty && $v.user.password2.$invalid}" for="password2">
                    Confirmar contraseña
                </label>
                <div class="error">
                    <p v-if="$v.user.password2.$dirty && !$v.user.password2.required">Este campo es requerido</p>
                    <p v-else-if="$v.user.password2.$dirty && !$v.user.password2.sameAsPassword">Las contraseñas no coinciden</p>
                </div>
            </div>
            <router-link to="/security/login">Iniciar sesión</router-link>
            <button type="submit" :disabled="$v.user.$invalid">Actualizar contraseña</button>
        </div>
        <div v-if="!valid && !submitted">
            <p>Parece que este enlace ha expirado, ya ha sido utilizado o es inválido</p>
            <router-link to="/security/login" exact>Iniciar sesión</router-link>
        </div>
        <div v-if="submitted">
            <p>Tu contraseña se ha actualizado exitosamente.</p>
            <router-link to="/security/login" exact>Iniciar sesión</router-link>
        </div>
    </div>

    <div v-if="noToken">
        <div v-if="!submitted">
            <div class="field">
                <input type="password" id="old_password" v-model.trim="$v.user.old_password.$model" title="Password" :state="$v.user.old_password"
                       :class="{'active': $v.user.old_password.$model, 'error': $v.user.old_password.$dirty && $v.user.old_password.$invalid}">
                <label :class="{'active': $v.user.old_password.$model, 'error': $v.user.old_password.$dirty && $v.user.old_password.$invalid}" for="old_password">
                    Contraseña actual
                </label>
                <div class="error">
                    <p v-if="$v.user.old_password.$dirty && !$v.user.old_password.required">Este campo es requerido</p>
                    <p v-else-if="$v.user.old_password.$dirty && !$v.user.old_password.minLength">
                        Debe tener al menos {{$v.user.old_password.$params.minLength.min}} caracteres
                    </p>
                </div>
            </div>
            <div class="field">
                <input type="password" id="password" v-model.trim="$v.user.password.$model" title="Password" :state="$v.user.password"
                       :class="{'active': $v.user.password.$model, 'error': $v.user.password.$dirty && $v.user.password.$invalid}">
                <label :class="{'active': $v.user.password.$model, 'error': $v.user.password.$dirty && $v.user.password.$invalid}" for="password">
                    Nueva contraseña
                </label>
                <div class="error">
                    <p v-if="$v.user.password.$dirty && !$v.user.password.required">Este campo es requerido</p>
                    <p v-else-if="$v.user.password.$dirty && !$v.user.password.hasLetters">Debe tener al menos una letra</p>
                    <p v-else-if="$v.user.password.$dirty && !$v.user.password.hasNumbers">Debe tener al menos un número</p>
                    <p v-else-if="$v.user.password.$dirty && !$v.user.password.hasSpecialChar">Debe tener al menos un simbolo</p>
                    <p v-else-if="$v.user.password.$dirty && !$v.user.password.minLength">
                        Debe tener al menos {{$v.user.password.$params.minLength.min}} caracteres
                    </p>
                </div>
            </div>
            <div class="field">
                <input type="password" id="password2" v-model.trim="$v.user.password2.$model" title="Confirm password" :state="$v.user.password2"
                       :class="{'active': $v.user.password2.$model, 'error': $v.user.password2.$dirty && $v.user.password2.$invalid}">
                <label :class="{'active': $v.user.password2.$model, 'error': $v.user.password2.$dirty && $v.user.password2.$invalid}" for="password2">
                    Confirmar contraseña
                </label>
                <div class="error">
                    <p v-if="$v.user.password2.$dirty && !$v.user.password2.required">Este campo es requerido</p>
                    <p v-else-if="$v.user.password2.$dirty && !$v.user.password2.sameAsPassword">Las contraseñas no coinciden</p>
                </div>
            </div>
            <button type="submit" :disabled="$v.user.$invalid">Actualizar contraseña</button>
        </div>
        <div v-else>
            <p>Tu contraseña se ha actualizado exitosamente.</p>
        </div>
    </div>
</form>
