<div style="width: 100%; background: #F9F9F9; padding: 50px 0; overflow: hidden">
    <div style="width: 100%; max-width: 600px; margin: 0 auto; background: #FFFFFF; border-radius: 10px; padding: 0 0 40px 0; box-shadow: 2px 2px 5px rgba(0,0,0,.3);">
        <div style="background: #512DA8; padding: 32px; border-bottom: 32px solid #D1C4E9;">
            <h1 style="color: #FFFFFF">
                NUEVA CUENTA
            </h1>
        </div>
        <h2 style="color: #212121; padding: 0 32px;">¡Hola <span style="text-transform: capitalize">{{name}}!</span></h2>
        <p style="margin: 0 auto 45px auto;color: #595959; font-size: 18px;padding: 0 32px;">haz solicitado registrar una nueva cuenta en nuestra plataforma, por favor da clic en el botón ACTIVAR CUENTA para validar tu información y concluir con el proceso de registro. <br><br><br>Si tu no haz hecho esta solicitud, ignora este mensaje.</p>
        <a href="{{url}}" style="width: 100%;max-width: 320px;line-height: 40px;display: block;font-size: 18px;color: #FFFFFF;background: #448AFF;padding: 0 32px;text-decoration: none;margin: 0 auto;text-align: center;border-radius: 4px;">
            ACTIVAR CUENTA
        </a>
    </div>
</div>
