.container {
    background: url("../../assets/images/background.jpg") no-repeat center;
    background-size: cover;
    display: table;
    width: 100%;
    height: calc(100vh - 140px);
}
.inner-container {
    background: rgba(145,145,145,0.5);
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.security {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    width: calc(100% - 32px);
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
}
.security svg {
    height: 275px;
    width: 120px;
    padding: 48px 75px;
    text-align: center;
    background: var(--primary-color);
    margin: 0;
    color: #fff;
    text-transform: uppercase;
}
.security .inner {
    padding: 16px;
    width: calc(100% - 32px);
    max-width: 320px;
}


@media screen and (max-width: 768px) {
    .container {
        margin: 57px 0 0 0;
    }
}

@media screen and (max-width: 600px) {
    .security {
        display: block;
        width: 300px;
    }

    .security svg {
        display: none;
    }

    .security .inner {
        width: auto;
        margin: 0 auto;
    }

}

@media screen and (max-width: 375px) {
    .container {
        height: calc(100vh - 165px);
    }
}
