<div>
    <app-header></app-header>
    <div class="container">
        <div class="inner-container">
            <div class="security">
                <font-awesome-icon icon="user-secret"></font-awesome-icon>
                <router-view class="inner"></router-view>
            </div>
        </div>
    </div>
</div>
